<section id="home">
  <div class="img">
   <img  src="https://media.vogue.mx/photos/61a0f46586155348e0ee1a0f/16:9/w_1600%2Cc_limit/SS-22-holder%2520(1).jpg" >
  </div>
  <div class="text">
   <h1>AMOR AL ARTE CURSOS</h1>
   <h2>"Una escuela de moda diferente"</h2>
     <p>Amor al arte es una escuela de moda online que se creó en el 2017 en Tigre, Buenos Aires. Su fundadora, la Diseñadora de Indumentaria:Jaime Maria Belén. Soñaba con que todo el mundo que no le guste la ropa que encuentre en los locales de su ciudad pueda hacer su propia ropa. Tiene como objetivo transmitir este hermoso oficio de costura. Que entiendas que todos podemos hacernos nuestra ropa, con nuestras manos. ¡Todos somos capaces! 
      ¡Anímate a aprender! Es tu oportunidad para que crezcas, para crear, para animarte a hacer esa prenda que siempre quisiste tener, con medidas reales, con tus propias medidas. Muches exalumnes tienen actualmente emprendimientos, marcar propias de ropa. Es una experiencia única, que te acompañara por el resto de tus días. Serás capaz de crear las colecciones más elegantes y creativas que puedas imaginar. Aprenderás a representar tus diseños desde el diseño Te invitamos a ser parte de nuestro equipo, de nuestra familia emprendedora.
       </p>
  </div>
 </section>