<section>
<h1><strong>Nuevo tips</strong></h1>
<div class="form">
  <form action="post">

  <div>
      <label for="">titulo:</label>
     <input type="text">
    </div>
    <div>
      <label for="">fecha:</label>
     <input type="datetime-local" name="" id="">
    </div>
    <div>
      <label for="">Descripcion:</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <label for="img">Imagen:</label>
      <input type="file">
    </div>
  </form>
<div>
  <input class="button" type="button" value="submit">
</div>
</div>
</section>
