
<section id="vision">
  <div class="img">
    <img class="nuestravision" src="https://assets.megamediaradios.fm/sites/3/2022/02/portada2-1-974x547.jpg">
   </div>
   <div class="text">
      <h2>Nuestra vision de la moda</h2>
      <p>La moda no es lo que nos hicieron creer.
        El concepto de moda siempre está ligado a algo impuesto, algo que hasta para muchos está mal. Pero no se habla de lo que es.
        Moda es una expresión del cuerpo. Uno con lo que se pone en el cuerpo habla, expresa, siente. Es nuestra carta de presentación. Es lo que nosotros queremos que el otre quiera que sepa de nosotros al vernos.
        Es arte, es belleza, es libertad. No es imposición ni opresión.
        </p>
        <p>
        En amor al arte creemos que todxs los cuerpxs son arte, son hermosos y que cada uno tiene el derecho y la libertad de expresar lo que quiera.
        Te invitamos a que aprendas a hacer la prenda que más hable de vos, de tu esencia.</p>
  
    </div>

</section>
